.jumbotron{
    margin: 0;
    padding: 15px;
    background-image: url(/src/img/grid-3230205_1920.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}
x
.headshot{
    border-radius: 50%;
}

.site-footer{
    margin: 0;
    padding: 15px;
    background-image: url(/src/img/grid-3230205_1920.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}