.jumbotron{
    margin: 0;
    padding: 15px;
    background-image: url(/src/img/grid-3230205_1920.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}

.jumbotron-heading{
    font-weight:bolder;
}

.font-link {
    font-family: 'Epilogue', sans-serif;
}

.navBarLink {
    margin: 5px;
}

.headshot{
    border-radius: 50%;
}

.location-front-item{
    background-image: linear-gradient(#191919, #333333, #4d4d4d);
    color: white;
    
}

.front-flip-button{
    background-color: white;
    justify-content: center;
    color: black;
}


.location-back-item{
    background-image: linear-gradient(#ffffff, #f6f6f6, #ececec);
    color: black;
}

.back-flip-button{
    background-image: linear-gradient(#191919, #333333, #4d4d4d);
    color: white;
}


.site-footer{
    background-image: url(/src/img/grid-3230205_1920.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}